body{
	position: relative;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Lato", serif !important;
}

p, span, a{
    font-family: "Raleway", sans-serif !important;
}

.button{
    padding: 12px;
    border: 2px solid;
    border-radius: 3px;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 16px;
}

/* Scrollbar */

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #4d963c;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #4d963c;
    }




@media (max-width: 576px){

	#header{
        background-size: initial !important;
        background-position: top !important;
	}

	#header h1{
        font-size: 40px !important;
    }

    #header h4{
        font-size: 16px !important;
    }

	#educationwork h2{font-size: 25px !important;}
}

/* TYPING ANIMATION */

#header-top{
	overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #4d963c; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .02em; /* Adjust as needed */
  animation:
    typing 1.5s steps(13),
    blink-caret .6s step-end infinite alternate;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4d963c; }
}







/* Scroll down indicator (bouncing) */

.fa-chevron-down {
  color: #4d963c !important;
  /*bottom: 10px;*/
  /*top: 700px;*/
	/*margin-left: -290px;*/
  cursor: pointer;
  position: absolute;
  -webkit-transition: 1.2s ease;
}

[class^="icon-"], [class*=" icon-"] {
    display: flex;
		padding-top: 70%;
		padding-left: 46%;
}


@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}



/* H E A D E R */


#header{
	min-height: 100vh;
	background-image: url(https://i.pinimg.com/originals/aa/43/7a/aa437ad0a3405b944c2999b57209835d.jpg);
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu-overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.09);
    z-index: 1;
}

.menu{
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 1;
}


.nav-content{
	position: relative;
    display: none;
    padding: 0;
    background: rgba(0, 0, 0, .8);
}

.nav-content > li{
    list-style: none;
    padding: 5px 20px;
}

.nav-content > li > a{
    display: block;
    text-decoration: none;
    line-height: 32px;
    color: #F5F5F5;
    -webkit-transition: .3s;
    transition: .3s;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 0 !important;
}

.nav-content > li > a:hover, .active{
    color: #4d963c !important;
}

.toggler{
    padding: 10px 15px;
    background: rgba(0, 0, 0, .8);
    display: block;
    cursor: pointer;
    width: min-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: -ms-min-content;
    width: -o-min-content;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #F5F5F5;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav-content #dropdown-menu{
	display: none;
	background: rgba(0, 0, 0, .8);
	position: absolute;
	top: 0;
	left: 100%;
	border-left: 1px solid rgba(0,0,0,.3);
	padding: 10px 0;
}

.nav-content #dropdown-menu ul{
	list-style-type: none;
	padding: 0;
}

.nav-content #dropdown-menu ul li a{
	color: #F5F5F5;
}

#dropdown{
	position: relative;
}

#header .dropdown-item:hover, #header .dropdown-item.active{
	color: #4d963c;
	background: transparent !important;
}


#header > .row{
	min-height: 100vh;
	width: 100vw;
}

#header h1{
	font-size: 80px;
	color: #646669;
}
#header hr{
	width: 200px;
	border-color: #646669;
}

#header h4{
	font-size: 20px;
	font-weight: normal;
	color: #646669;
}



/* A B O U T */




#about{
	padding-top: 80px;
	padding-bottom: 80px;
	background: #2B2B2B;
}

#about h2{
	margin-bottom: 30px;
	color: #F5F5F5;
}

#about p{
	color: #a1a1a1;
}

#about img{
	width: 180px;
}

@media (max-width: 992px){
	.picture{display: none;}
}



/* C V */

#cv{
	padding-top: 80px;
	padding-bottom: 80px;
	background: #F7F7F7;
}

#cv  hr{
    height: 1px;
    border: none;
    background: #DDD;
    margin: 50px auto;
}

#cv .row h3{
	border-bottom: 3px solid #4d963c;
	font-size: 24px;
	padding-bottom: 5px;
    width: min-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: -ms-min-content;
    width: -o-min-content;
	margin-bottom: 50px;
}

#cv .row{
	margin-bottom: 80px;
}

.skills + .skills{
    margin-top: 60px;

}

.skills > h4{
    color: #4d963c;
    margin-bottom: 40px;
}

#cv .progressbar-title + .progressbar-title{
	margin-top: 30px;
}

#cv .progressbar-title > h4{
	font-size: 16px;
	color: #222;
}

#cv .progressbar-title > .bar-container{
	height: 15px;
	background: #DDD;
}

#cv .progressbar-title .progressbar{
	background: #2B2B2B;
}

.exp + .exp{
    margin-top: 60px;

}

.exp > h4{
    color: #4d963c;
    margin-bottom: 40px;
}

#cv .box + .box{
    margin-top: 50px;
}

#cv .box h4{
	font-size: 20px;
	color: #222;
}

#cv .box h6{
	color: #4d963c;
}

#cv .box p{
	color: #757575;
}

#cv .box li{
	color: #757575;
}

.skills-bar-container li {
  position: relative;
	list-style-type: none;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.skills-bar-container li .bar-container {
  background: #DDD;
  position: relative;
  width: 100%;
  height: 12px;
  margin-top: 5px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.skills-bar-container li .bar-container .progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* PROGRESS BAR ANIMATION SECTION */
.skills-bar-container li .bar-container #progress-htmlcss {
  -webkit-animation-name: progress-htmlcss;
  animation-name: progress-htmlcss;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.skills-bar-container li .bar-container #progress-ampscript {
  -webkit-animation-name: progress-ampscript;
  animation-name: progress-ampscript;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.skills-bar-container li .bar-container #progress-javascript {
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.skills-bar-container li .bar-container #progress-php {
  -webkit-animation-name: progress-php;
  animation-name: progress-php;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.skills-bar-container li .bar-container #progress-sql {
  -webkit-animation-name: progress-sql;
  animation-name: progress-sql;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.skills-bar-container li .bar-container #progress-cplspls {
  -webkit-animation-name: progress-cplspls;
  animation-name: progress-cplspls;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.skills-bar-container li .bar-container #progress-python {
  -webkit-animation-name: progress-python;
  animation-name: progress-python;
  -webkit-animation-delay: 1.2s;
  animation-delay:1.2s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.skills-bar-container li .bar-container #progress-csharp {
  -webkit-animation-name: progress-csharp;
  animation-name: progress-csharp;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.skills-bar-container li .bar-container #progress-marketing {
  -webkit-animation-name: progress-marketing;
  animation-name: progress-marketing;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.skills-bar-container li .bar-container #progress-salesForce {
  -webkit-animation-name: progress-salesForce;
  animation-name: progress-salesForce;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.skills-bar-container li .bar-container #progress-automation {
  -webkit-animation-name: progress-automation;
  animation-name: progress-automation;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.skills-bar-container li .bar-container #progress-development {
  -webkit-animation-name: progress-development;
  animation-name: progress-development;
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.skills-bar-container li .bar-container #progress-lwc {
  -webkit-animation-name: progress-lwc;
  animation-name: progress-lwc;
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.skills-bar-container li .bar-container #progress-email {
  -webkit-animation-name: progress-email;
  animation-name: progress-email;
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
.progressgreen {
  background-color: #4d963c;
}

.progressgrey {
  background-color: #78797a;
}
/* PROGRESS BAR PERCENTAGE SECTION */
/* PROGRESS htmlcss SECTION */
@-webkit-keyframes progress-htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-moz-keyframes progress-htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes progress-htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

/* PROGRESS ampscript  SECTION */
@-webkit-keyframes progress-ampscript {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@-moz-keyframes progress-ampscript {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes progress-ampscript {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

/* PROGRESS javascript  SECTION */
@-webkit-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-moz-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}



/* PROGRESS php SECTION */
@-webkit-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

@-moz-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

@keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

/* PROGRESS sql SECTION */
@-webkit-keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@-moz-keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

/* PROGRESS cplspls SECTION */
@-webkit-keyframes progress-cplspls {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@-moz-keyframes progress-cplspls {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes progress-cplspls {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

/* PROGRESS python SECTION */
@-webkit-keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-moz-keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

/* PROGRESS csharp SECTION */
@-webkit-keyframes progress-csharp {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-moz-keyframes progress-csharp {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes progress-csharp {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

/* PROGRESS marketing SECTION */
@-webkit-keyframes progress-marketing {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@-moz-keyframes progress-marketing {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes progress-marketing {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

/* PROGRESS salesForce SECTION */
@-webkit-keyframes progress-salesForce {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@-moz-keyframes progress-salesForce {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes progress-salesForce {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

/* PROGRESS automation SECTION */
@-webkit-keyframes progress-automation {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@-moz-keyframes progress-automation {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes progress-automation {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

/* PROGRESS development SECTION */
@-webkit-keyframes progress-development {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-moz-keyframes progress-development {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes progress-development {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

/* PROGRESS email SECTION */
@-webkit-keyframes progress-lwc {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-moz-keyframes progress-lwc {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes progress-email {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

/* PROGRESS email SECTION */
@-webkit-keyframes progress-email {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-moz-keyframes progress-email {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes progress-email {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}





/* P O R T F O L I O */


#educationwork{
	padding: 80px 0;
    background: #EBEEEE;
}


#educationwork h2{
    padding: 0;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #666;
}

#educationwork img{
	max-width: 100%;
}

#educationwork .row > div{
	margin-bottom: 1.5rem;
    position: relative;
}



#educationwork .row div .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 30px);
    transform: scale(0);
    margin: auto;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background: rgba(0, 0, 0, .55);
    border-radius: 20%;
}

#educationwork .row div:hover .overlay {
    opacity: 1;
    transform: scale(1);
    height: 100%;
    border-radius: 0;
}

#educationwork .row div .overlay h3{
    color: #f7f7f7;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    letter-spacing: .05em;
}

.overlay h3.project-title{
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
}






/*  C O N T A C T */



#contact{
    background: #191919;
    color: #F3F3F3;
    text-align: center;
    padding: 330px 0 500px 0;
}

#contact div.left > a{
    font-size: 20px;
    color: #4d963c;
    line-height: 0;
}

#second-arrow {
	padding-top: 150px;
}

#contact h4{
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid #4d963c;
    text-align: right;
    text-transform: uppercase;
    color: #F5F5F5;
    font-size: 45px;
}








/*  F O O T E R  */

footer{
    background: #212121;
    position: relative;
    padding: 10px 0 10px 0;
}

.footer-content{
    text-align: center;
		padding: 50px 10px 10px 15px;
    max-width: 85%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-content p{
    color: #a1a1a1;
}

.footer-content p:hover{
    color: #FFF;
}


.footer-content a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #a1a1a1;
    -webkit-transition: .3s;
    transition: .3s;
}

.footer-content a:hover{
    color: #FFF;
}

.footer-content a + a{
    margin-left: 30px;
}

footer h4{
    color: #4d963c;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}


@media (max-width: 768px){
	footer{
        padding: 80px 0;
    }

    .footer-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer-content > div{
        width: 100% !important;
        margin-bottom: 45px;
    }

    .footer-content h4{
        margin-bottom: 20px;
    }

    .footer-content a + a{
        margin-left: 18px;
    }
}

.bottom-footer {
	width: inherit;
}


.bottom-footer p{
	border-top: 2px solid #4d963c;
	color: #DDD;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
}
